/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav button {display: none;}
nav ul.hide {display: block;}
nav ul {margin-left: 2%;}
nav ul li {
    float: left;
}
nav ul li a {border: none;
border-right: 1px solid rgba(175, 175, 175, 0.3);
background-color: rgb(175, 175, 175);
    color: #000;
padding: .8rem 1rem;
}
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}
    .parent:hover {
        display: block;
    }
    .parent {
        float: left;
        overflow: hidden;
      }
      #hamburgerBtn span:nth-child(1) {display: block}
      #hamburgerBtn span:nth-child(2) {display: none}
      
      #hamburgerBtn.open span:nth-child(1) {display: none}
      #hamburgerBtn.open span:nth-child(2) {display: block}
      #primaryNav {
          height: 0;
          overflow: visible;
      }
      #primaryNav.open {
      height: auto;
      }
/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */